<% layout('../layouts/boilplates.ejs') %>
<div>
    <h1>products page</h1>
    <h3>product category</h3>
    <%-include('./components/categories.product.ejs')%>;
    <h3>products list</h3>
    <%-include('./components/list.product.ejs')%>;
</div>