<% layout('../layouts/boilplates.ejs') %>
<form action="/category/<%=category._id%>?_method=put" method="post">
    <h1>
        Edit category page
    </h1>
    <span><%= category %></span>
    <button type="submit" class="btn btn-success">Xác thực</button>
</form>

<form action="/category/<%=category._id%>?_method=delete" method="post">
    <button type="submit" class="btn btn-warning">Xóa danh mụcc <%=category.name%></button>
</form>
