<% layout('../layouts/boilplates.ejs') %>
<div>
    <h1>Category page</h1>
    <form action="/category/new" method="POST">
        <div class="row mb-3">
          <label for="name" class="col-sm-2 col-form-label">Tên danh mục</label>
          <div class="col-sm-10">
            <input type="tex" class="form-control" id="name" name="category[name]">
          </div>
        </div>

        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea class="form-control" id="description" name="category[description]" rows="3"></textarea>
        </div>

        <div class="mb-3">
            <label for="image" class="form-label">Chọn 1 ảnh cho danh mục</label>
            <input class="form-control" type="file" id="image" name="category[image]">
        </div>
       
        <button type="submit" class="btn btn-primary">Create category</button>
    </form>
</div>