<%-layout('../layouts/blank.layout.ejs') %>
<form action="/user/forgot" method="post">
    <h1>Forgot page</h1>
    <input type="email" placeholder="email ban da dang ky">
    <button type="submit">Xác thực</button>
</form>