<%-layout('../layouts/blank.layout.ejs') %>
<link rel="stylesheet" href="/css/users/login.user.css">

<form class="form-login" action="/user/login" method="post">
    <div class="form-login_parts">
        <div class="login-header">
            <h1>Đăng nhập</h1>
            <img src="/images/logo.jpg" alt="Nature Logo" height="80" width="130">
        </div>
        <div>
            <label class="form-control form-control_lable" for="username">Tên đăng nhập</label>
            <input class="form-control form-control_input" type="text" placeholder="username" id="username" name="username">
        </div>
    
        <div>
            <label class="form-control form-control_lable" for="password">Mật khẩu</label>
            <input class="form-control form-control_input" type="password" placeholder="password" id="password" name="password">
        </div>
        <button class="form-control form-control_button">Đăng nhập</button>

    </div>

    <div class="form-login_parts">
        <img src="/images/login-vector.jpg" alt="Ảnh Login" width="100%">
    </div>
</form>