<%-layout('../layouts/blank.layout.ejs') %>
    <form action="/user/register" method="post">
        <h1>Register Page</h1>
        <label for="">user name</label>
        <input type="text" placeholder="username" name="register[username]">

        <input type="email" placeholder="email" name="register[email]">

        <input type="password" placeholder="password" name="register[password]">

        <input type="phone" placeholder="phone" name="register[phone]">

        <button type="submit">submit</button>
</form>