
.form-login{
    width: 1000px;
    padding: 40px 0;
    display: flex;
    background-color: #fafafa;
    border-radius: 10px;
    border: solid 1px black;
}

.form-login_parts{
    width: 50%;
    margin: 0 50px;
}

.login-header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    margin-bottom: 20px;
    font-size: 3rem;
}

.form-control{
    font-size: 1.5rem;
    display: block;
    width: 100%;
}

.form-control_lable{
    margin-top: 20px;
    margin-bottom: 6px;
}

.form-control_input{
    padding: 4px;
    font-size: 1.4rem;
    border-radius: 6px;
    outline: solid 1px black;
    border: none;
    &:focus{
        outline-color: green;
    }
}

/* .form-control_button{
    font-size: 1.4rem;
    margin-top: 10px;
    padding: 4px 0;
    border-radius: 4px;
    border: solid 1px black;
    font-weight: 700;
    transition: padding 2s ease-in-out;
    &:hover{
        padding: 6px;
        font-size: 1.6rem;
        background-image: linear-gradient(140deg, #EADEDB 0%, #BC70A4 50%, #BFD641 75%);
    }
} */

.form-control_button {
    margin-top: 20px;
    padding: 15px 25px;
    border: unset;
    border-radius: 10px;
    color: #212121;
    z-index: 1;
    background: #e8e8e8;
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
    overflow: hidden;
}
   
.form-control_button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #212121;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms
}
   
.form-control_button:hover {
    color: #e8e8e8;
}
   
.form-control_button:hover::before {
    width: 100%;
}

